- content_for :title, "Coffee diary"

%h1 Listing articles

.ui.grid.padded
  - article = @articles.first
  -# TODO::styleをCSSに切り出すこと。article用のコンポーネントを作る
  .one.column.row{style: "padding-top: 0rem; padding-bottom: 0rem;"}
    .column.ui.segment
      = render partial: "article", locals: {size: "medium", article: article}

  - @articles.offset(1).each_slice(2) do |articles|
    .two.column.row{style: "padding-top: 0rem; padding-bottom: 0rem;"}
      - articles.each do |article|
        .column.ui.segment
          = render partial: "article", locals: {size: "small", article: article}

%br
= link_to 'New Article', new_article_path
