- content_for :title, "Coffee diary"

%h1 コーヒー日記

- article = @articles.first
.ui.two.column.grid.padded
  .sixteen.wide.column.p-article-column.p-article-column-pc-top
    .column
      .ui.segment
        = render partial: "article_pc_top", locals: {article: article}
  .eight.wide.column.p-article-column.p-article-column-sp-top
    .column
      .ui.segment.p-article-segment
        = render partial: "article", locals: {article: article}

  - @articles.offset(1).each_slice(2) do |articles|
    - articles.each do |article|
      .eight.wide.column.p-article-column
        .column
          .ui.segment.p-article-segment
            = render partial: "article", locals: {article: article}
