- content_for :title, "Coffee diary"

%h1 コーヒー日記

.ui.grid.padded
  - article = @articles.first
  .one.column.row.p-article-row
    .column.ui.segment.p-article-row-segment
      = render partial: "article_top", locals: {article: article}

  - @articles.offset(1).each_slice(2) do |articles|
    .two.column.row.p-article-row
      - articles.each do |article|
        .column.ui.segment.p-article-row-segment
          = render partial: "article", locals: {article: article}
