- content_for :title, "Coffee diary"

%h1 Articles#index
.ui.inverted.segment
  %button.ui.inverted.button Standard
  %button.ui.inverted.primary.button Primary
  %button.ui.inverted.secondary.button Secondary
  %button.ui.inverted.red.button Red
  %button.ui.inverted.orange.button Orange
  %button.ui.inverted.yellow.button Yellow
  %button.ui.inverted.olive.button Olive
  %button.ui.inverted.green.button Green
  %button.ui.inverted.teal.button Teal
  %button.ui.inverted.blue.button Blue
  %button.ui.inverted.violet.button Violet
  %button.ui.inverted.purple.button Purple
  %button.ui.inverted.pink.button Pink
  %button.ui.inverted.brown.button Brown
  %button.ui.inverted.grey.button Grey
  %button.ui.inverted.black.button Black

.ui.ribbon.label
  hoge
fuga

.ui.container
  %h2 Button
  %button.ui.primary.button
    Save
  .ui.button
    Discard

  %h2 Flag
  %i.ae.flag
  %i.france.flag
  %i.myanmar.flag

  %h2 Icons
  %i.angle.double.down.icon
  %i.angle.double.left.icon
  %i.angle.double.right.icon
  %i.angle.double.up.icon
