- content_for :title, "Coffee diary"

%h1 コーヒー日記

- article = @articles.first
.ui.two.column.stackable.grid.padded
  .sixteen.wide.column.p-article-row
    .column.ui.segment.p-article-row-segment
      = render partial: "article_top", locals: {article: article}

  - @articles.offset(1).each_slice(2) do |articles|
    .eight.wide.column.p-article-row
      - articles.each do |article|
        .column.ui.segment.p-article-row-segment
          = render partial: "article", locals: {article: article}
