/* semantic-ui の要素を !important で上書き */
/* TODO::他の方法がないか調査すること。CSS FWを使ううえでのセオリーがないか？ */
/* 追記：semantic-ui は webpacker にて管理している。CSS構造を修正後に検討する */
.p-article-row{
    padding: 0rem !important;
}
.p-article-row-segment{
    margin: 0rem !important;
    padding: 1rem !important;
}

.p-article-header-date {
    width: 90px;
    flex: 0 0 auto !important;
}
.p-article-header-bean-name {
    flex: 1 1 auto !important;
}
.p-article-header-edit-menu {
    width: 110px;
    flex: 0 0 auto !important;
}

.p-article-repeat-icon{
    color: #00B5AD; /* TODO::semantic-uiのcolor(teal)と連動させたい。CSS設計から調査すること */
    margin: 0px !important;
}

.p-article-no-image-large{
    width: 450px !important;
    height: 300px !important;
}
.p-article-no-image-medium{
    width: 300px !important;
    height: 200px !important;
}

.p-article-memo{
    width: 35rem;
    height: 7rem;
    border: 2px solid #F2EACD;
    border-radius: 0.67em;
    padding: 0.5em;
    background-color: #FFFEF6;
    line-height: 1.2;
}
